{% extends 'base.html.twig' %}

{% block title %}Read: {{ title }}{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="show-article-container p-3 mt-4">
                <div class="row">
                    <div class="col-sm-12">
                        <img class="show-article-img" src="{{ asset('images/asteroid.jpeg') }}">
                        <div class="show-article-title-container d-inline-block pl-3 align-middle">
                            <span class="show-article-title ">{{ title }}</span>
                            <br>
                            <span class="align-left article-details"><img class="article-author-img rounded-circle" src="{{ asset('images/alien-profile.png') }}"> Mike Ferengi </span>
                            <span class="pl-2 article-details"> 3 hours ago</span>
                            <span class="pl-2 article-details">
                                <span class="js-like-article-count">5</span>
                                <a href="{{ path('article_toggle_heart', {slug: slug}) }}" class="fa fa-heart-o like-article js-like-article"></a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="article-text">
                            <p>Россия — многонациональное государство, отличающееся большим этнокультурным многообразием.
                                Бо́льшая часть населения (около 75 %) относит себя к православию,
                                что делает Россию страной с самым многочисленным православным населением в мире</p>

                            <p>Франция — является ядерной державой и одним из пяти постоянных членов Совета Безопасности ООН. С 1950-х годов — одно из государств,
                                участвующих в создании Европейского союза.
                                Население — 64 859 773 человек в метрополии и 66 991 000 человек — с учётом заморских владений (оценка на 1 января 2017), в том числе около 90 % — граждане Франции.
                                Верующие — преимущественно католики (80 % от числа верующих или 43 % от всего населения), при этом 45 % населения заявляют,
                                что не принадлежат ни к одной религии.</p>

                            <p>Германия — великая держава с динамично развивающейся экономикой. Объём ВВП за 2009 год составил 3,24 триллиона долларов США (около 39 442 долларов США на душу населения). Денежная единица — евро.
                                Будучи мировым лидером в ряде промышленных и технологических секторов, она является третьим в мире экспортером и импортером товаров.
                                Германия — развитая страна с очень высоким уровнем жизни (14 место в мировом рейтинге).
                                Она поддерживает социальное обеспечение и универсальную систему здравоохранения, охрану окружающей среды и бесплатное высшее образование.</p>

                            <p>Испа́ния — (исп. и галис. España), официально Короле́вство Испа́ния (исп. и галис. Reino de España МФА [ˈreino ðe esˈpaɲa]) — суверенное государство на юго-западе Европы и частично в Африке,
                                член Европейского союза и НАТО. Испания занимает бо́льшую часть (80 %) Пиренейского полуострова, а также Канарские и Балеарские острова,
                                имеет общую площадь 504 782 км² (вместе с небольшими суверенными территориями на африканском побережье, городами Сеута и Мелилья),
                                являясь четвёртой по величине страной в Европе (после России, Украины и Франции).</p>

                            <p>Этот сокол ясный был мною приручен. Больше года у меня воспитывался он. И взмыл мой сокол в небо, взлетел под облака.
                                Когда же возвратится он ко мне издалека? Был красив мой сокол в небесном раздолье:
                                В шелковых путах лапы сокольи, Перья засверкали — в золоте они. Всех любящих, господи, ты соедини!</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <p class="share-icons mb-5"><span class="pr-1">Share:</span> <i class="pr-1 fa fa-facebook-square"></i><i class="pr-1 fa fa-twitter-square"></i><i class="pr-1 fa fa-reddit-square"></i><i class="pr-1 fa fa-share-alt-square"></i></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h3><i class="pr-3 fa fa-comment"></i>{{ comments|length }} Comments</h3>
                        <hr>

                        <div class="row mb-5">
                            <div class="col-sm-12">
                                <img class="comment-img rounded-circle" src="{{ asset('images/astronaut-profile.png') }}">
                                <div class="comment-container d-inline-block pl-3 align-top">
                                    <span class="commenter-name">Amy Oort</span>
                                    <div class="form-group">
                                        <textarea class="form-control comment-form" id="articleText" rows="1"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-info">Comment</button>
                                </div>
                            </div>
                        </div>

                        {% for comment in comments %}
                            <div class="row">
                                <div class="col-sm-12">
                                    <img class="comment-img rounded-circle" src="{{ asset('images/alien-profile.png') }}">
                                    <div class="comment-container d-inline-block pl-3 align-top">
                                        <span class="commenter-name">Mike Ferengi</span>
                                        <br>
                                        <span class="comment"> {{ comment }}</span>
                                        <p><a href="#">Reply</a></p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/article_show.js') }}"></script>
{% endblock %}